NODE_ENV=development
PORT=3000
DATABASE_URL=postgres://password@host:port/mulheres_palestrantes_db
DATABASE_URL_TEST=sqlite:///:memory:
LOG_LEVEL=info
CORS_ALLOWED_ORIGIN=*
PLACEHOLDER_URL=http://insideoutproject.xyz/mulheres-palestrantes/img/placeholder-female.jpg
REDIS_URL=redis://@mulheres-palestrantes-api-cache:6379/0
REDIS_EXPIRATION_IN_SECONDS=1800
SENDGRID_API_KEY=sdfgfjhhkjghff
SENDGRID_EMAIL_FROM=noreply@insideoutprojectbr.com.br
EMAIL_CONFIRMATION_URL=http://0.0.0.0:5000
EMAIL_VERIFICATION_TIMEOUT=2000
JWT_SECRET_KEY=secret
JWT_EXPIRATION_IN_SECONDS=1800
